set tabsize 4
#set tabstospaces

include "~/.nano/asm.nanorc"
include "~/.nano/autoconf.nanorc"
include "~/.nano/awk.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/changelog.nanorc"
include "~/.nano/cmake.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/debian.nanorc"
include "~/.nano/default.nanorc"
include "~/.nano/elisp.nanorc"
include "~/.nano/fortran.nanorc"
include "~/.nano/gentoo.nanorc"
include "~/.nano/go.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/guile.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/lua.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/man.nanorc"
include "~/.nano/mgp.nanorc"
include "~/.nano/mutt.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/nftables.nanorc"
include "~/.nano/objc.nanorc"
include "~/.nano/ocaml.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/po.nanorc"
include "~/.nano/postgresql.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/spec.nanorc"
include "~/.nano/tcl.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/texinfo.nanorc"
include "~/.nano/xml.nanorc"